body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3F66C0;
}
.secondaryColor {
  background-color: #C0993F;
}

.header{
  flex: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size:8vw;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.leftSection {

}

.rightSection {

}

.contentRow {
  margin-top: 10px;
  margin-right: 10px;
  margin-left:10px;
}
.contentItem {
  border-radius:10px;
}
